@{
    Layout = "_LayoutCP";

}

<h3>In the modern world, time is the most valuable resource.</h3>
<h3>To achieve your goals you have to keep track of many tasks at the same time.</h3>
<h3><a href="https://qNotifier.com">qNotifier</a> is designed to help you to manage the status of your tasks.</h3>
<h3>You will get an email notification each time you should to start a new task.</h3>
<br />
<h3>To use <a href="https://qNotifier.com">qNotifier</a> just select a date at the calendar, add a new task, and edit its description and status.</h3>
<br />
<h3>If you have any questions or suggestions, just <a href="mailto:admin@qNotifier.com">email us.</a></h3>