@{
    Layout = "_LayoutCP";

}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="mx-auto my-3">
        <h3 class="mt-3">Hello, @User.Identity.Name!</h3>
        <h3 class="mt-3">Please, visit <a asp-controller="Calendar" asp-action="Index">qNotifier - Task manager</a> page.</h3>
    </div>
    <br />
    <div class="mx-auto mt-3">
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input class="btn btn-lg shadow mx-3 btn-secondary" type="submit" value="Logout" />
        </form>
    </div>
}
else
{
    <div class="mx-auto my-3">
        <h3 class="mt-3">Hello! qNotifier is a quick and simple task manager!</h3>
        <h3 class="mt-3"> It helps you to remember all your tasks and to track their status.</h3>
        <h3 class="mt-3">Please login or register to be able to use qNotifier.</h3>
    </div>
    <br />
    <div class="mx-auto mt-3">
        <a class="btn btn-lg shadow mx-3 btn-secondary" asp-controller="Account" asp-action="Login">Login</a>
        <a class="btn btn-lg shadow mx-3 btn-secondary" asp-controller="Account" asp-action="Register">Registration</a>
    </div>
}



